@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 350ms ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 350ms ease-in forwards;
}

@keyframes showLinks{
 from {
  transform: translateY(50px);
 }
 to {
  transform: translateY(0);
 }
}

.show-links {
  animation: showLinks 350ms ease-in forwards 200ms;
}

@keyframes hideLinks{
  from {
   transform: translateY(0);
  }
  to {
   transform: translateY(50px);
  }
 }

 .hide-links {
   animation: hideLinks 350ms ease-out forwards;
 }



.hidden {
  display: none;
}

