.footer {
  padding: 2.5rem;
  text-align: center;
  color: $white;
  background-color: $darkBlue;

  a {
    color: $white;
  }

  &__grid {
    @include breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      gap: 1rem;
      grid-template-areas: 
      'logo group1 group2 cta'
      'social group1 group2 cr';
      justify-items: start;
    }
  }
  
  &__logo {
    display: inline-block;
    margin-bottom: $uniSize;

    @include breakpoint-up(lg) {
      grid-area: logo;
      margin-bottom: 0;
    }
  }

  &__social {
    margin-bottom: $uniSize;
    

    a {
      display: inline-block;
      font-size: $uniSizeSm;

      svg path {
        transition: fill 200ms ease-in;
      }

      &:hover svg path {
        fill: $limeGreen
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }

    @include breakpoint-up(lg) {
      height: $uniSizeSm;
      margin-bottom: 0;
      grid-area: social;
      align-self: end;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fontSm;

    &.group1 {
      @include breakpoint-up(lg) {
        grid-area: group1;
      }
    }

    &.group2 {
      margin-bottom: $uniSize;

      @include breakpoint-up(lg) {
        grid-area: group2;
        margin-bottom: 0;
      }
    }

    a {
      line-height: 2;
      transition: color 200ms ease-in;

      &:hover {
        color: $limeGreen;
      }
    }

    @include breakpoint-up(lg) {
      align-items: start;
      justify-content: space-between;

      a {
        line-height: 1;
      }
    }
  }

  &__cta {
    a.btn {
      margin-bottom: $uniSize;
      transition: 200ms ease-in;
    }

    @include breakpoint-up(lg) {
      grid-area: cta;
      justify-self: end;
    }
  }

  &__cr {
    font-size: $fontSm;
    color: $grayishBlue;

    @include breakpoint-up(lg) {
      grid-area: cr;
      justify-self: end;
      align-self: end;
    }
  }
}