.hero {
  background-color: $veryLightGray;

  @include breakpoint-up(lg) {
    .wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    position: relative;
    background-image: url('../../images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.6rem;

    @include breakpoint-up(md) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(lg) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../images/bg-intro-desktop.svg');
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(lg) {
        width: 150%;
        background-size: 130%;
        background-position: 9% 70%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../images/image-mockups.png');
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(md) {
        background-size: 55%;
      }

      @include breakpoint-up(lg) {
        width: 120%;
        height: 122%;
        left: 22%;
        background-size: 94%;
        background-position: center 150%;
      }
    }
  }

  &__text {
    text-align: center;

    p {
      margin-bottom: 2.25rem;
    }
   
    a.hero__cta {
      color: $white;
  
      &:hover {
        opacity: .65;
      }
    }

    @include breakpoint-up(lg) {
      flex: 2;
      text-align: left;
    }
  }
}